.faq-carousel
    font-size: 1.8rem
    background: #222
    padding: 7rem
    &__card
        background: #444
        padding: 2rem
        font-size: 1.8rem
        >p
            text-align: center
