@media (max-width: 696px)
    html
        font-size: 8px
    .landing  
        flex-direction: column
        &__logo
            >img
                width: 50%
    .features
        &__section
            &--left,&--right
                width: 100%
    .guide
        padding-bottom: 5rem
        flex-direction: column
        &__card
            margin-bottom: 2rem
            box-shadow: 0 10px 6px -6px #222